* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: verdana;

}
body {
	    background: url('bg.1.jpg') center/cover no-repeat;
		height: 95%;
		width: 100%;
}

p {
	color: white;
}
	

header {
	position: sticky;
	top: 0px;
    background: #276221;
    color: white;
    padding: 20px 50px;
    display: flex;	
    justify-content: space-between;
    align-items: center;
	gap: 50px;
}
.ogol{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 8px; 	
	
}
.logo img {
	width: 100%;
    height: 100%;
    object-fit: cover;

}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 25px; 
    font-weight: bold;
}
header nav {
	margin: 0;
	padding: 0;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
}
header nav a.active{
	background-color: #3b8132;
	padding: 10px;
}

header nav a:hover {
    background-color: #3b8132;
	transition:.5s;
	border-radius: 4px;
	padding: 7px 5px;
}

.image img {
	height: 100%;
	width: 100%;
}
.logo{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;       
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;        
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contact-header {

    text-align: center;
    padding: 15px 20px;
    color: white;
    background-blend-mode: darken;
	margin: 0px;
}

.contact-header h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    gap: 40px;
}


.info {
    width: 40%;
}

.info-box {
    margin-bottom: 40px;
}
.info-box h3 {
    color: #276221;
    font-size: 24px;
    margin-bottom: 10px;
}


.form-box {
	margin: 150px;
    width: 45%;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.form-box h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #999;
    font-size: 16px;
    outline: none;
}

button {
    padding: 12px 30px;
    background: #276221;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #276221;
}
a {
    color: white;
    text-decoration: underline;
}