* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: verdana;

}

body {
	    
	    background: url('bg.4.jpg') center/cover no-repeat;
		height: 95%;
		width: 100%;
}

.doc-wrapper {
	margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
   
}


.doc-page {
	background-color: #477023;
    width: 60%;       
    padding: 50px;
	}
    
.content-image{
	width: 35%;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.content-image img {
	gap: 30px;
    width: 100%;
	height: 300px;
    object-fit: cover;
	border-radius: 10px;
}



.doc-page p {	
    font-size: 17px;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
    text-align: justify;
}

.ogol{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 8px; 	
	
}
.logo img {
	width: 40px;
    height: 40px;
	border-radius: 50%;
    object-fit: cover;

}

header {
	position: sticky;
	top: 0px;
    background: #276221;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
	margin: 0;
	padding: 0;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
}
header nav a.active{
	background-color: #3b8132;
	padding: 10px;
}

header nav a:hover {
    background-color: #3b8132;
	transition:.5s;
	border-radius: 4px;
	padding: 7px 5px;
}

.voice-widget {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
}


.voice-btn {
    background: #52a447;
    color: white;
    font-size: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.voice-btn:hover {
    transform: scale(1.1);
    background: #46923c;
}


.voice-controls {
    margin-top: 10px;
    background: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    display: none;
    flex-direction: column;
    gap: 8px;
}

.voice-controls button {
    padding: 8px 12px;
    border: none;
    background: #5bb450;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.voice-controls button:hover {
    background: #5bb450;
}



